# Byte-compiled / optimized / DLL files
__pycache__/
Fridady/__pycache__/
Fridady/feature/__pycache__/
Fridady/ga/__pycache__/
Friday/utils/__pycache__/
*.py[cod]
*$py.class
**/.DS_Store
.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# pickle files
*.p
*.pickle
*.sav

.pytest_cache

*.log.csv



#IDE
.vscode
